.DS_Store
*~
auto
*.aux
*.bak
*.bbl
*.blg
*.dvi
*.glo
*.gls
*.idx
*.ilg
*.ind
*.log
*.out
*.thm
*.toc
*.lof
*.lot
*.loe
*.vrb
*.hd
*.fdb_latexmk
*.fls
!empty-resolution.pdf
*.toe
*.xdv
*.synctex.gz
*.synctex(busy)
/examples/hitart/reports/*.pdf
/examples/hitbook/chinese/thesis.pdf
/examples/hitbook/english/thesis.pdf
.history
